@font-face {
    font-family: DynaPuff;
    src: url('fonts/DynaPuff.ttf');
}
@font-face {
    font-family: PatrickHand;
    src: url('fonts/PatrickHand-Regular.ttf');
}
@font-face {
    font-family: Texturina;
    src: url('fonts/Texturina.ttf');
}