@font-face {
    font-family: Garamond;
    src: url('fonts/EBGaramond-Regular.ttf');
}
@font-face {
    font-family: GaramondBold;
    src: url('fonts/EBGaramond-ExtraBold.ttf');
    font-weight: bolder;
}